#gallery {
  display: flex;
  justify-content: space-between;
  height: 100%;

  padding-inline-start: 0px;
}

.gallery__item {
  list-style: none;

  margin-top: 0px;
  margin-bottom: 0px;
}

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
